## Dataset

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Employee.csv",index_col=False)
df['EMPID'] = [i for i in range(1,len(df)+1)]

In [3]:
df[:10]

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot,EMPID
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0,1
1,Bachelors,2013,Pune,1,28,Female,No,3,1,2
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0,3
3,Masters,2016,Bangalore,3,27,Male,No,5,1,4
4,Masters,2017,Pune,3,24,Male,Yes,2,1,5
5,Bachelors,2016,Bangalore,3,22,Male,No,0,0,6
6,Bachelors,2015,New Delhi,3,38,Male,No,0,0,7
7,Bachelors,2016,Bangalore,3,34,Female,No,2,1,8
8,Bachelors,2016,Pune,3,23,Male,No,1,0,9
9,Masters,2017,New Delhi,2,37,Male,No,2,0,10

In [4]:
import pandas as pd
import random

def generate_random_name():
    # Sample names with more diversity and capitalization
    first_names = [
        'John', 'Jane', 'Mike', 'Emily', 'David', 'Emma', 'Chris', 'Laura', 
        'Daniel', 'Sophia', 'Rob', 'Liz', 'Alex', 'Sam', 'Kate', 'Will', 
        'Ben', 'Mia', 'Olivia', 'Luke', 'Max', 'Ella', 'Leo', 'Chloe'
    ]
    last_names = [
        'Doe', 'Smith', 'Johnson', 'Davis', 'Brown', 'Wilson', 'Miller', 'Moore', 
        'Taylor', 'Anderson', 'Williams', 'Thomas', 'Jackson', 'White', 
        'Harris', 'Martin', 'Garcia', 'Clark', 'Lewis', 'Lee'
    ]
    
    # Randomly select a first and last name
    first_name = random.choice(first_names)
    last_name = random.choice(last_names)
    
    # Randomly apply short forms, capitalization, or initials
    if random.random() > 0.7:  # 30% chance to use a short form or initials
        first_name = first_name[:random.randint(1, 3)].capitalize() + '.'  # Short form
    if random.random() > 0.7:  # 30% chance to use last name initial
        last_name = last_name[0].upper() + '.'
    elif random.random() > 0.8:  # 20% chance to make last name lowercase
        last_name = last_name.lower()
    
    return f"{first_name} {last_name}"

def generate_people_details(employee_ids):
    companies = ['TechCorp', 'InnoSoft', 'DataWorks', 'NetSolutions', 'BizWare']
    
    # Generate people_details data
    people_details_data = {
        'EmployeeID': employee_ids,
        'EmployeeName': [generate_random_name() for _ in employee_ids],
        'CompanyName': [random.choice(companies) for _ in employee_ids],
        'SalaryInLacs': [random.randint(5, 40) for _ in employee_ids]  # Random salary between 5 and 20 lakhs
    }

    return pd.DataFrame(people_details_data)

# Assuming the employee IDs in the employees table are 1 through n
employee_ids = list(range(1, len(df)+1))  # Example: 100 records

# Generate the people_details DataFrame
people_details_df = generate_people_details(employee_ids)

people_details_df[:10]

   EmployeeID   EmployeeName   CompanyName  SalaryInLacs
0           1    David Davis  NetSolutions            18
1           2    Luk. Martin      TechCorp            17
2           3  Olivia Martin      TechCorp            36
3           4          J. J.  NetSolutions            17
4           5     Lau. Lewis      TechCorp            26
5           6    Chl. Miller  NetSolutions            36
6           7    Chris Davis      InnoSoft            36
7           8   Da. Williams      TechCorp            30
8           9        Sop. D.     DataWorks            17
9          10     Kate Davis       BizWare            27

In [7]:
column_context_employees = "Table Name: employees.\nThis table can access only these columns\n"
for column in df.columns:
    column_context_employees =  column_context_employees+ f"Column {column}: Unique Values in this column {str(df[column].unique())}\n"

In [8]:
column_context_employee_details = "Table Name: employee_details.\nThis table can access only these columns\n"
for column in people_details_df.columns:
    column_context_employee_details =  column_context_employee_details+ f"Column {column}: Unique Values in this column {str(people_details_df[column].unique())}\n"

In [9]:
print(column_context_employees + '\n'+ column_context_employee_details)

Table Name: employees.
This table can access only these columns
Column Education: Unique Values in this column ['Bachelors' 'Masters' 'PHD']
Column JoiningYear: Unique Values in this column [2017 2013 2014 2016 2015 2012 2018]
Column City: Unique Values in this column ['Bangalore' 'Pune' 'New Delhi']
Column PaymentTier: Unique Values in this column [3 1 2]
Column Age: Unique Values in this column [34 28 38 27 24 22 23 37 32 39 29 30 36 31 25 26 40 35 33 41]
Column Gender: Unique Values in this column ['Male' 'Female']
Column EverBenched: Unique Values in this column ['No' 'Yes']
Column ExperienceInCurrentDomain: Unique Values in this column [0 3 2 5 1 4 7 6]
Column LeaveOrNot: Unique Values in this column [0 1]
Column EMPID: Unique Values in this column [   1    2    3 ... 4651 4652 4653]

Table Name: employee_details.
This table can access only these columns
Column EmployeeID: Unique Values in this column [   1    2    3 ... 4651 4652 4653]
Column EmployeeName: Unique Values in this column ['David Davis' 'Luk. Martin' 'Olivia Martin' ... 'Em. williams'
 'Emm. anderson' 'Mike Taylor']
Column CompanyName: Unique Values in this column ['NetSolutions' 'TechCorp' 'InnoSoft' 'DataWorks' 'BizWare']
Column SalaryInLacs: Unique Values in this column [18 17 36 26 30 27 20 19 16 29 31 37 13  5 10 34 14 28 39 11 21 23 33 32
  6 38  7 35 12 40 25  9 22 24 15  8]

## SQL Engine using SQLAlchemy

In [12]:
# !pip install SQLAlchemy

In [13]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///employees_data.db')

In [14]:
df.to_sql('employees', engine, if_exists='replace', index=False)

4653

In [15]:
# from sqlalchemy import create_engine
# engine1 = create_engine('sqlite:///employee_details.db')
people_details_df.to_sql('employee_details', engine, if_exists='replace', index=False)

4653

## Building SQL Agents

In [ ]:
api_key = "<your_groq_api>"

In [21]:
# !pip install dspy-ai --upgrade

In [22]:
import dspy
# model = "gemma2-9b-it"
# model = "llama-3.1-70b-versatile"
model = "llama3-8b-8192"
lm = dspy.GROQ(model=model, api_key=api_key)
dspy.settings.configure(lm=lm)

In [1]:
import dspy

class InputSignatureAgent1(dspy.Signature):
    """You are a Senior SQL Programmer who can understand the complex table structures and form SQL queries as per the user's question.
    IMPORTANT instructions:
    1) Dont use JOIN if it is not necessary, check the table and its usable columns, if using JOIN do it with extra CAUTION
    2) Dont forget to apply inverted commas when required.
    3) Give no explanation and directly provide answers.
    4) Take care when joining tables, use right set of table-column configuration"""

    context = dspy.InputField(desc="Will contain the table names and its columns names, data types, can be multiple tables")
    question = dspy.InputField()
    answer = dspy.OutputField(desc="SQL query that will work always, without syntax errors")
    
class ChainOfThoughtSqlProgrammerAgent(dspy.Module):
    def __init__(self):
        super().__init__()
        self.generate_answer = dspy.ChainOfThought(InputSignatureAgent1)

    def forward(self, question):
        context = column_context_employees + '\n'+ column_context_employee_details
        # print(f"Context fetched: {context}")
        prediction = self.generate_answer(context=context, question=question)
        return dspy.Prediction(context=context, answer=prediction.answer)
    
class InputSignatureAgent2(dspy.Signature):
    """PROVIDE NO EXPLANATIONs, You are a SQL Developer lead who can understand the complex table structures and correct SQL queries as per the table structure.
    IMPORTANT instructions:
    1) Remove markdown like ```sql  ```
    2) Check syntax issues in SQL query like removing unwanted characters especially in SELECT COUNT function. 
    3) Dont forget to apply inverted commas when required.
    4) Take care when joining tables, use right set of table-column configuration."""

    context = dspy.InputField(desc="Will contain the table name and its columns names, unique values, data types, can be multiple tables")
    question = dspy.InputField()
    answer = dspy.OutputField(desc="NO EXPLANATION ONLY SQL query that will go into a SQL Compiler so no explanation or other nonsense")
    
class ChainOfThoughtSqlLeadAgent(dspy.Module):
    def __init__(self):
        super().__init__()
        self.generate_answer = dspy.ChainOfThought(InputSignatureAgent2)

    def forward(self, question):
        context = column_context_employees + '\n'+ column_context_employee_details 
        prediction = self.generate_answer(context=context, question=question)
        return dspy.Prediction(context=context, answer=prediction.answer)

In [2]:
dev_agent = ChainOfThoughtSqlProgrammerAgent()
sql_correct_agent = ChainOfThoughtSqlLeadAgent()

In [24]:
# query = "people with less than 4 years of experience who have never been out of a project"
# query = "give me names of people earning more than 20 lakh and experience is less than 3 years"
# query = "female candidates who didn't get benched, education is masters and joined after 2015, age less than 30 and experience less than 5 years 6 months"
query =  "name and age of people whose education might be less but experience is more than the average, exclude people who have worked in inosoft"
response = dev_agent(query).answer
print("Response from Agent1:\n", response)
print('==========================================')
query_to_second_agent = f"Original Query: {query} and SQL Query generated: {response}"
sql_query = sql_correct_agent(query_to_second_agent).answer
print("Response from Agent2:\n", sql_query)

Response from Agent1:
 SELECT e.City, e.Age, ed.EmployeeName
FROM employees e
WHERE e.Education IN ('Bachelors', 'Masters')
AND e.ExperienceInCurrentDomain > (SELECT AVG(e2.ExperienceInCurrentDomain) FROM employees e2)
AND ed.EmployeeID IN (SELECT EmployeeID FROM employee_details ed2 WHERE ed2.CompanyName !=
==========================================
Response from Agent2:
 SELECT e.City, e.Age, ed.EmployeeName
FROM employees e
JOIN employee_details ed ON e.EMPID = ed.EmployeeID
WHERE e.Education IN ('Bachelors', 'Masters')
AND e.ExperienceInCurrentDomain > (SELECT AVG(e2.ExperienceInCurrentDomain) FROM employees e2)
AND ed.CompanyName != '

## Query SQL DB

In [79]:
from sqlalchemy import text

def sql_results(query):
    with engine.connect() as conn:
        ans=conn.execute(text(query)).fetchall()       
    return ans

In [108]:
sql_results(sql_query.strip())

[('Pune', 28, 'Ben Clark'),
 ('Bangalore', 27, 'Will M.'),
 ('Bangalore', 27, 'John S.'),
 ('Pune', 34, 'Kat. B.'),
 ('Bangalore', 37, 'Daniel C.'),
 ('Bangalore', 29, 'John Lewis'),
 ('New Delhi', 28, 'L. T.'),
 ('New Delhi', 36, 'W. Garcia'),
 ('Bangalore', 27, 'Laura Thomas'),
 ('Bangalore', 29, 'Sophia Taylor'),
 ('Bangalore', 26, 'Leo. Davis'),
 ('Bangalore', 40, 'Kate Clark'),
 ('Bangalore', 30, 'Sophia Thomas'),
 ('New Delhi', 29, 'Liz Brown'),
 ('Bangalore', 30, 'Emma Brown'),
 ('Pune', 39, 'Olivia Williams'),
 ('Pune', 26, 'John S.'),
 ('Bangalore', 31, 'Sophia W.'),
 ('New Delhi', 31, 'M. Thomas'),
 ('New Delhi', 29, 'John W.'),
 ('Bangalore', 34, 'Oli. White'),
 ('Bangalore', 31, 'Leo D.'),
 ('Pune', 25, 'Jane J.'),
 ('Bangalore', 27, 'Max Miller'),
 ('Bangalore', 38, 'Ben Davis'),
 ('Bangalore', 25, 'Luke Anderson'),
 ('Pune', 27, 'K. Davis'),
 ('Pune', 32, 'La. Anderson'),
 ('Bangalore', 28, 'Ben W.'),
 ('Bangalore', 39, 'Mia Johnson'),
 ('Bangalore', 27, 'Jane T.'),
 ('New Delhi', 26, 'Chloe White'),
 ('Pune', 28, 'Emma M.'),
 ('New Delhi', 25, 'Max davis'),
 ('Pune', 25, 'Luke Martin'),
 ('Bangalore', 25, 'Mike Smith'),
 ('Bangalore', 27, 'Jane wilson'),
 ('Pune', 27, 'Ben Garcia'),
 ('Bangalore', 27, 'Dav. white'),
 ('Bangalore', 25, 'Emma Harris'),
 ('Pune', 26, 'David Brown'),
 ('New Delhi', 26, 'Jane Davis'),
 ('New Delhi', 25, 'Leo D.'),
 ('Bangalore', 28, 'Ben moore'),
 ('New Delhi', 25, 'John B.'),
 ('Bangalore', 26, 'Luke J.'),
 ('Bangalore', 28, 'Sam moore'),
 ('Pune', 27, 'So. Taylor'),
 ('Bangalore', 25, 'Leo Thomas'),
 ('Bangalore', 26, 'Kate Jackson'),
 ('New Delhi', 27, 'Max Lewis'),
 ('Bangalore', 26, 'Jane J.'),
 ('New Delhi', 25, 'Chloe White'),
 ('Bangalore', 26, 'Will Johnson'),
 ('New Delhi', 27, 'Jane Johnson'),
 ('Bangalore', 26, 'Kate Brown'),
 ('Bangalore', 27, 'J. Johnson'),
 ('Pune', 28, 'Alex Lewis'),
 ('Bangalore', 25, 'John williams'),
 ('New Delhi', 27, 'Mia C.'),
 ('Bangalore', 26, 'Sa. Davis'),
 ('New Delhi', 26, 'Lau. M.'),
 ('Bangalore', 28, 'Emily Johnson'),
 ('Bangalore', 25, 'Leo taylor'),
 ('Bangalore', 28, 'David G.'),
 ('Bangalore', 28, 'Sam Taylor'),
 ('Bangalore', 25, 'Kate W.'),
 ('Bangalore', 27, 'Emily M.'),
 ('Bangalore', 25, 'Luke T.'),
 ('New Delhi', 26, 'Ella Martin'),
 ('Bangalore', 26, 'R. Smith'),
 ('Bangalore', 25, 'Daniel A.'),
 ('Bangalore', 25, 'Leo. T.'),
 ('Bangalore', 27, 'Laura Miller'),
 ('New Delhi', 27, 'W. Martin'),
 ('New Delhi', 25, 'Chloe D.'),
 ('Bangalore', 27, 'Alex Lewis'),
 ('Bangalore', 26, 'John Miller'),
 ('Pune', 28, 'Kate Anderson'),
 ('Pune', 25, 'Sam Lee'),
 ('Bangalore', 25, 'Max Moore'),
 ('Bangalore', 27, 'Olivia D.'),
 ('Pune', 26, 'M. Brown'),
 ('Pune', 26, 'Ben M.'),
 ('Bangalore', 25, 'Ch. Taylor'),
 ('Pune', 27, 'Alex D.'),
 ('Pune', 27, 'Leo. T.'),
 ('New Delhi', 25, 'S. White'),
 ('New Delhi', 27, 'E. Miller'),
 ('New Delhi', 26, 'Will Anderson'),
 ('Pune', 25, 'S. Miller'),
 ('New Delhi', 26, 'E. Thomas'),
 ('Pune', 26, 'Mia clark'),
 ('Bangalore', 27, 'Mike anderson'),
 ('Pune', 27, 'Chloe Davis'),
 ('Bangalore', 25, 'El. Harris'),
 ('Pune', 27, 'Mike M.'),
 ('Bangalore', 26, 'Mik. Thomas'),
 ('Pune', 25, 'L. Davis'),
 ('Pune', 26, 'L. Miller'),
 ('Pune', 25, 'Emma Lee'),
 ('Pune', 28, 'Max L.'),
 ('Bangalore', 25, 'Rob Garcia'),
 ('Bangalore', 25, 'Olivia thomas'),
 ('Bangalore', 27, 'Wi. Martin'),
 ('Pune', 26, 'Max B.'),
 ('New Delhi', 26, 'Dan. Harris'),
 ('Bangalore', 25, 'Will S.'),
 ('Bangalore', 27, 'Sop. Brown'),
 ('New Delhi', 27, 'Wi. Martin'),
 ('Pune', 27, 'Alex A.'),
 ('Bangalore', 26, 'L. Davis'),
 ('New Delhi', 27, 'Rob Williams'),
 ('New Delhi', 26, 'Chloe Harris'),
 ('Bangalore', 26, 'Emily D.'),
 ('Pune', 26, 'Leo Clark'),
 ('New Delhi', 25, 'Ella M.'),
 ('Bangalore', 25, 'Luke Williams'),
 ('New Delhi', 28, 'Oli. Williams'),
 ('Bangalore', 25, 'Jo. Doe'),
 ('New Delhi', 26, 'Sophia Martin'),
 ('New Delhi', 27, 'Will G.'),
 ('New Delhi', 27, 'Kat. W.'),
 ('Bangalore', 26, 'Max Williams'),
 ('Bangalore', 26, 'Chris Taylor'),
 ('New Delhi', 25, 'Rob Clark'),
 ('New Delhi', 27, 'Chloe anderson'),
 ('New Delhi', 26, 'Chris A.'),
 ('Bangalore', 26, 'Daniel Jackson'),
 ('Bangalore', 28, 'Olivia Wilson'),
 ('Bangalore', 27, 'Chris B.'),
 ('Bangalore', 26, 'Will W.'),
 ('New Delhi', 27, 'Liz Martin'),
 ('Pune', 26, 'C. Smith'),
 ('New Delhi', 26, 'Laura jackson'),
 ('Pune', 27, 'Sam Davis'),
 ('Pune', 25, 'Rob Brown'),
 ('Bangalore', 27, 'Chloe A.'),
 ('Pune', 25, 'John Anderson'),
 ('New Delhi', 27, 'Leo harris'),
 ('Bangalore', 27, 'Daniel B.'),
 ('Bangalore', 27, 'Kate Williams'),
 ('Bangalore', 26, 'Sophia T.'),
 ('Bangalore', 28, 'Emma T.'),
 ('New Delhi', 27, 'Daniel Garcia'),
 ('Pune', 27, 'Sop. L.'),
 ('Pune', 27, 'Sam Lewis'),
 ('Pune', 26, 'Sa. johnson'),
 ('Bangalore', 25, 'Daniel Miller'),
 ('Pune', 26, 'Oli. M.'),
 ('Bangalore', 25, 'Liz. Brown'),
 ('Bangalore', 25, 'Emm. H.'),
 ('Pune', 25, 'Chl. D.'),
 ('New Delhi', 26, 'Chris Anderson'),
 ('New Delhi', 26, 'Sophia Clark'),
 ('Bangalore', 27, 'John Moore'),
 ('New Delhi', 27, 'David S.'),
 ('Bangalore', 26, 'M. White'),
 ('Pune', 25, 'Jane M.'),
 ('Bangalore', 25, 'Jane Smith'),
 ('Bangalore', 28, 'Chloe Smith'),
 ('New Delhi', 27, 'Emma Wilson'),
 ('Pune', 26, 'Daniel Johnson'),
 ('Bangalore', 25, 'Will Lee'),
 ('Bangalore', 28, 'Alex jackson'),
 ('New Delhi', 26, 'So. Johnson'),
 ('Bangalore', 26, 'Laura H.'),
 ('Pune', 25, 'Will W.'),
 ('Pune', 27, 'Mike Miller'),
 ('Bangalore', 28, 'Max L.'),
 ('Bangalore', 26, 'Leo T.'),
 ('Bangalore', 27, 'Ol. Clark'),
 ('Bangalore', 28, 'Mike Lewis'),
 ('Pune', 27, 'Emma harris'),
 ('Pune', 26, 'Ben S.'),
 ('Bangalore', 25, 'Rob Williams'),
 ('Bangalore', 25, 'Emily Smith'),
 ('Pune', 26, 'Max davis'),
 ('New Delhi', 26, 'Kate johnson'),
 ('Bangalore', 26, 'Emily Lee'),
 ('Bangalore', 26, 'Ella Wilson'),
 ('Pune', 25, 'Ella G.'),
 ('Bangalore', 26, 'D. Taylor'),
 ('Pune', 25, 'Daniel martin'),
 ('New Delhi', 25, 'Jane Thomas'),
 ('Pune', 25, 'Oli. T.'),
 ('Pune', 26, 'Chloe taylor'),
 ('Bangalore', 26, 'John Williams'),
 ('Pune', 27, 'Rob. Miller'),
 ('New Delhi', 27, 'Olivia smith'),
 ('New Delhi', 26, 'Wil. Moore'),
 ('Bangalore', 27, 'Kat. davis'),
 ('Pune', 27, 'Jan. D.'),
 ('Pune', 27, 'Emma Taylor'),
 ('New Delhi', 26, 'Emma Anderson'),
 ('New Delhi', 27, 'Li. Moore'),
 ('Pune', 27, 'Mia M.'),
 ('Pune', 26, 'Emma Davis'),
 ('Bangalore', 26, 'J. williams'),
 ('Pune', 27, 'Alex Garcia'),
 ('Pune', 27, 'Mike D.'),
 ('Bangalore', 25, 'M. thomas'),
 ('Pune', 27, 'Daniel G.'),
 ('Pune', 25, 'Sam L.'),
 ('Bangalore', 25, 'Daniel J.'),
 ('Pune', 27, 'Chloe garcia'),
 ('Bangalore', 26, 'Liz Johnson'),
 ('Pune', 26, 'Sa. Wilson'),
 ('Bangalore', 25, 'John L.'),
 ('New Delhi', 25, 'Leo W.'),
 ('Bangalore', 27, 'D. anderson'),
 ('Bangalore', 25, 'J. Lee'),
 ('Bangalore', 26, 'Mia. H.'),
 ('Bangalore', 26, 'Luke Moore'),
 ('Bangalore', 25, 'Emily M.'),
 ('Bangalore', 28, 'David S.'),
 ('Bangalore', 26, 'Mike T.'),
 ('Bangalore', 25, 'Ben. Brown'),
 ('Bangalore', 28, 'Sa. T.'),
 ('Pune', 27, 'Wi. Smith'),
 ('Pune', 26, 'Jan. Miller'),
 ('New Delhi', 28, 'Jo. White'),
 ('Pune', 27, 'Kate Davis'),
 ('Pune', 25, 'Ale. Williams'),
 ('New Delhi', 25, 'Chloe B.'),
 ('New Delhi', 27, 'Chris Thomas'),
 ('Bangalore', 26, 'Laura clark'),
 ('Pune', 25, 'Lu. Garcia'),
 ('New Delhi', 26, 'Mia thomas'),
 ('Pune', 25, 'Sam. W.'),
 ('Bangalore', 27, 'Emma Taylor'),
 ('Bangalore', 27, 'David Doe'),
 ('Bangalore', 26, 'Liz Thomas'),
 ('New Delhi', 25, 'D. Thomas'),
 ('New Delhi', 25, 'Sam Lee'),
 ('Bangalore', 25, 'E. W.'),
 ('New Delhi', 27, 'Mia lewis'),
 ('Pune', 25, 'Olivia Jackson'),
 ('Pune', 27, 'Will W.'),
 ('Bangalore', 25, 'Mike Clark'),
 ('Pune', 25, 'Chloe T.'),
 ('Bangalore', 27, 'Laura L.'),
 ('Bangalore', 27, 'Luke M.'),
 ('Bangalore', 25, 'Ben williams'),
 ('Bangalore', 25, 'Will Miller'),
 ('New Delhi', 28, 'Ro. Davis'),
 ('New Delhi', 25, 'Luke M.'),
 ('Bangalore', 28, 'Sam smith'),
 ('Bangalore', 25, 'Emma J.'),
 ('New Delhi', 28, 'Olivia thomas'),
 ('New Delhi', 25, 'Will Lewis'),
 ('Bangalore', 26, 'S. Martin'),
 ('New Delhi', 25, 'Li. Harris'),
 ('New Delhi', 25, 'Lau. Moore'),
 ('Bangalore', 25, 'D. White'),
 ('Pune', 27, 'Leo Wilson'),
 ('New Delhi', 27, 'Will white'),
 ('Bangalore', 26, 'Leo B.'),
 ('Pune', 27, 'Leo D.'),
 ('Bangalore', 28, 'Sam Taylor'),
 ('Pune', 26, 'Ella L.'),
 ('Bangalore', 27, 'W. martin'),
 ('New Delhi', 25, 'Liz Miller'),
 ('Bangalore', 27, 'Laura Clark'),
 ('New Delhi', 26, 'John Anderson'),
 ('Bangalore', 25, 'Luke Harris'),
 ('Pune', 28, 'Liz Jackson'),
 ('Bangalore', 27, 'Leo Lee'),
 ('Bangalore', 25, 'Sam M.'),
 ('Pune', 25, 'Rob L.'),
 ('Pune', 26, 'Will taylor'),
 ('Pune', 26, 'John Smith'),
 ('Bangalore', 26, 'E. Harris'),
 ('Pune', 25, 'E. white'),
 ('Bangalore', 28, 'Luke Johnson'),
 ('Bangalore', 27, 'Rob Doe'),
 ('Bangalore', 26, 'Sam Smith'),
 ('Pune', 26, 'S. Garcia'),
 ('Pune', 26, 'M. Smith'),
 ('Bangalore', 25, 'Chl. williams'),
 ('New Delhi', 26, 'Ch. Smith'),
 ('Bangalore', 25, 'E. White'),
 ('Bangalore', 25, 'Ch. lee'),
 ('Pune', 26, 'Sam lee'),
 ('Bangalore', 25, 'Laura J.'),
 ('Pune', 26, 'Emi. Martin'),
 ('New Delhi', 27, 'Luke clark'),
 ('Bangalore', 27, 'Ma. martin'),
 ('Pune', 26, 'C. L.'),
 ('Bangalore', 27, 'Luke Miller'),
 ('Bangalore', 27, 'Chris S.'),
 ('New Delhi', 27, 'David W.'),
 ('Bangalore', 25, 'Luke Brown'),
 ('Bangalore', 27, 'John brown'),
 ('Pune', 27, 'Jane Jackson'),
 ('Pune', 26, 'Kate Johnson'),
 ('Pune', 26, 'Laura Garcia'),
 ('Bangalore', 26, 'Ben Miller'),
 ('New Delhi', 26, 'Will thomas'),
 ('New Delhi', 26, 'Sophia anderson'),
 ('Bangalore', 26, 'Rob J.'),
 ('Bangalore', 26, 'Jane W.'),
 ('Bangalore', 28, 'Ro. Anderson'),
 ('Pune', 25, 'Ella W.'),
 ('Pune', 28, 'Joh. lewis'),
 ('Pune', 28, 'Da. Smith'),
 ('Pune', 26, 'Daniel Clark'),
 ('Bangalore', 25, 'Max Smith'),
 ('Pune', 27, 'Mia M.'),
 ('Bangalore', 27, 'Sop. B.'),
 ('Bangalore', 25, 'Mia Jackson'),
 ('Bangalore', 27, 'Jane T.'),
 ('Bangalore', 26, 'Mike M.'),
 ('Bangalore', 26, 'Mia Lee'),
 ('Bangalore', 27, 'Leo D.'),
 ('New Delhi', 25, 'Olivia H.'),
 ('New Delhi', 26, 'Mia W.'),
 ('New Delhi', 28, 'Rob B.'),
 ('Bangalore', 27, 'E. W.'),
 ('Bangalore', 25, 'Kate T.'),
 ('Pune', 25, 'Sophia Anderson'),
 ('Bangalore', 28, 'Sam lee'),
 ('Bangalore', 26, 'E. doe'),
 ('Bangalore', 25, 'Alex Moore'),
 ('Pune', 25, 'Alex D.'),
 ('Bangalore', 25, 'Emily Lee'),
 ('Bangalore', 26, 'Ella Wilson'),
 ('Bangalore', 25, 'Will M.'),
 ('Bangalore', 26, 'Max White'),
 ('New Delhi', 27, 'Chloe Clark'),
 ('New Delhi', 27, 'Emily A.'),
 ('New Delhi', 25, 'Chloe Williams'),
 ('Bangalore', 26, 'Kate Johnson'),
 ('New Delhi', 27, 'Emily J.'),
 ('Pune', 25, 'Jane D.'),
 ('Bangalore', 25, 'Jane Taylor'),
 ('Bangalore', 26, 'Oli. taylor'),
 ('Pune', 25, 'Luke J.'),
 ('Pune', 26, 'Chloe Garcia'),
 ('Pune', 26, 'Chris Garcia'),
 ('Pune', 25, 'Sam jackson'),
 ('Bangalore', 27, 'Max B.'),
 ('Bangalore', 25, 'Ben. A.'),
 ('Pune', 26, 'B. Brown'),
 ('Bangalore', 26, 'Ch. White'),
 ('New Delhi', 27, 'Will G.'),
 ('New Delhi', 26, 'Oli. doe'),
 ('Bangalore', 27, 'E. Garcia'),
 ('Bangalore', 26, 'Mia W.'),
 ('Bangalore', 26, 'Jane Thomas'),
 ('Bangalore', 26, 'Sam Lewis'),
 ('Pune', 25, 'John M.'),
 ('Bangalore', 27, 'Daniel Martin'),
 ('Bangalore', 27, 'Emily J.'),
 ('Pune', 27, 'Chl. Jackson'),
 ('Bangalore', 27, 'Ch. Miller'),
 ('Bangalore', 26, 'Luke taylor'),
 ('Pune', 27, 'B. W.'),
 ('Bangalore', 26, 'Luke T.'),
 ('Bangalore', 27, 'Laura Smith'),
 ('Bangalore', 26, 'Sam Johnson'),
 ('Bangalore', 26, 'Emma G.'),
 ('Bangalore', 26, 'Luke White'),
 ('Bangalore', 27, 'Jo. C.'),
 ('Bangalore', 25, 'Emily D.'),
 ('New Delhi', 27, 'Leo taylor'),
 ('Bangalore', 27, 'Alex clark'),
 ('Pune', 25, 'J. White'),
 ('Bangalore', 28, 'Leo Clark'),
 ('Bangalore', 25, 'Liz L.'),
 ('Bangalore', 26, 'Max Jackson'),
 ('Pune', 26, 'E. Williams'),
 ('Bangalore', 28, 'Da. Miller'),
 ('New Delhi', 25, 'Emi. Taylor'),
 ('New Delhi', 26, 'Olivia Moore'),
 ('Bangalore', 26, 'Sam Smith'),
 ('Bangalore', 26, 'Emily Davis'),
 ('New Delhi', 25, 'Emma Doe'),
 ('Pune', 25, 'Lau. M.'),
 ('New Delhi', 25, 'Ben Wilson'),
 ('Bangalore', 27, 'Joh. Thomas'),
 ('Bangalore', 26, 'Leo D.'),
 ('Bangalore', 25, 'L. Thomas'),
 ('Pune', 26, 'Ella Garcia'),
 ('New Delhi', 25, 'Rob. Williams'),
 ('Bangalore', 26, 'Alex Miller'),
 ('Pune', 27, 'Rob Lewis'),
 ('Pune', 25, 'Kate Brown'),
 ('Bangalore', 25, 'Will Doe'),
 ('Bangalore', 25, 'Liz L.'),
 ('Pune', 28, 'Mia. A.'),
 ('New Delhi', 27, 'Chloe White'),
 ('Pune', 26, 'Sophia Harris'),
 ('New Delhi', 28, 'Alex Lee'),
 ('Bangalore', 25, 'Da. W.'),
 ('New Delhi', 25, 'Chloe Smith'),
 ('Bangalore', 26, 'Will A.'),
 ('Pune', 25, 'Mike Harris'),
 ('Pune', 27, 'Lau. W.'),
 ('Bangalore', 27, 'Chr. T.'),
 ('New Delhi', 25, 'Mike taylor'),
 ('Pune', 25, 'Lau. Clark'),
 ('Pune', 27, 'Leo. garcia'),
 ('Pune', 25, 'C. L.'),
 ('Bangalore', 25, 'Emi. B.'),
 ('Bangalore', 25, 'Laura Moore'),
 ('New Delhi', 25, 'Emily lee'),
 ('Bangalore', 27, 'Sam J.'),
 ('New Delhi', 27, 'Will lee'),
 ('Bangalore', 28, 'Mia. W.'),
 ('New Delhi', 27, 'M. T.'),
 ('New Delhi', 27, 'David Miller'),
 ('Bangalore', 26, 'Chloe Taylor'),
 ('Bangalore', 27, 'Mia L.'),
 ('Bangalore', 26, 'Will moore'),
 ('Bangalore', 26, 'Luke Harris'),
 ('New Delhi', 27, 'Leo C.'),
 ('Pune', 27, 'Mik. smith'),
 ('Bangalore', 25, 'Sam. Clark'),
 ('Pune', 26, 'David G.'),
 ('New Delhi', 26, 'Mi. D.'),
 ('Pune', 25, 'Max J.'),
 ('New Delhi', 25, 'Will Taylor'),
 ('Pune', 26, 'M. J.'),
 ('New Delhi', 27, 'Emma Anderson'),
 ('New Delhi', 27, 'Kate Doe'),
 ('Pune', 26, 'Jane S.'),
 ('Pune', 26, 'Mike Williams'),
 ('New Delhi', 25, 'Jane williams'),
 ('New Delhi', 27, 'Sophia Williams'),
 ('Bangalore', 26, 'Laura L.'),
 ('Pune', 25, 'Alex Wilson'),
 ('Bangalore', 27, 'Jane harris'),
 ('New Delhi', 26, 'Chr. M.'),
 ('New Delhi', 26, 'Chloe Garcia'),
 ('New Delhi', 25, 'Chloe Taylor'),
 ('Pune', 27, 'Leo W.'),
 ('Bangalore', 27, 'Chris M.'),
 ('Bangalore', 26, 'Ben Wilson'),
 ('Bangalore', 28, 'Alex Williams'),
 ('Bangalore', 27, 'Max L.'),
 ('Pune', 28, 'Em. D.'),
 ('Bangalore', 25, 'Dav. A.'),
 ('Bangalore', 25, 'David W.'),
 ('Bangalore', 28, 'Chr. Taylor'),
 ('New Delhi', 27, 'Ell. Williams'),
 ('Bangalore', 27, 'Will B.'),
 ('New Delhi', 26, 'L. A.'),
 ('Pune', 27, 'Sam. Brown'),
 ('Bangalore', 28, 'Leo anderson'),
 ('Bangalore', 26, 'O. J.'),
 ('Bangalore', 27, 'Emma Jackson'),
 ('New Delhi', 25, 'Liz Taylor'),
 ('Bangalore', 26, 'Ella D.'),
 ('Bangalore', 26, 'Ella Johnson'),
 ('Bangalore', 27, 'Ella W.'),
 ('Bangalore', 25, 'Emily Smith'),
 ('Bangalore', 26, 'Leo B.'),
 ('Bangalore', 27, 'Emma anderson'),
 ('Bangalore', 27, 'Kat. White'),
 ('Bangalore', 28, 'Mia Lee'),
 ('Pune', 27, 'Max Johnson'),
 ('New Delhi', 27, 'Will Anderson'),
 ('Bangalore', 27, 'Ka. moore'),
 ('Bangalore', 25, 'Kate Lee'),
 ('Pune', 27, 'Leo Taylor'),
 ('Bangalore', 27, 'Max White'),
 ('Pune', 27, 'Em. Harris'),
 ('Bangalore', 28, 'Ben. Doe'),
 ('New Delhi', 26, 'Chloe Lee'),
 ('Bangalore', 25, 'Luk. D.'),
 ('New Delhi', 26, 'E. Garcia'),
 ('Pune', 26, 'Al. D.'),
 ('New Delhi', 26, 'Chris Garcia'),
 ('Bangalore', 25, 'Ella Garcia'),
 ('Bangalore', 25, 'Sophia Lee'),
 ('Bangalore', 25, 'Liz C.'),
 ('New Delhi', 25, 'Alex M.'),
 ('Pune', 27, 'Emily W.'),
 ('Pune', 28, 'Luke Lee'),
 ('Pune', 26, 'K. L.'),
 ('Pune', 26, 'Emma miller'),
 ('Bangalore', 26, 'Mi. Lewis'),
 ('Pune', 25, 'Chloe B.'),
 ('Bangalore', 26, 'Sophia jackson'),
 ('New Delhi', 25, 'Wi. Lewis'),
 ('New Delhi', 26, 'David Jackson'),
 ('Pune', 26, 'Oli. smith'),
 ('Pune', 27, 'Sam thomas'),
 ('Bangalore', 27, 'Mia Lee'),
 ('Bangalore', 26, 'Laura Taylor'),
 ('Pune', 25, 'Chris B.'),
 ('Bangalore', 25, 'Chloe D.'),
 ('Bangalore', 26, 'Sam Anderson'),
 ('Pune', 26, 'Ben Miller'),
 ('Bangalore', 26, 'Daniel L.'),
 ('Bangalore', 27, 'Emily Anderson'),
 ('Bangalore', 26, 'Emily White'),
 ('Bangalore', 26, 'Ella J.'),
 ('New Delhi', 28, 'David Johnson'),
 ('Bangalore', 28, 'Daniel M.'),
 ('Pune', 26, 'Leo Moore'),
 ('New Delhi', 28, 'Olivia Miller'),
 ('New Delhi', 27, 'Jane Brown'),
 ('Bangalore', 25, 'Ella Wilson'),
 ('New Delhi', 27, 'Sophia White'),
 ('New Delhi', 27, 'Liz G.'),
 ('Bangalore', 26, 'Mia Doe'),
 ('Bangalore', 25, 'Ch. harris'),
 ('Bangalore', 25, 'Olivia S.'),
 ('New Delhi', 27, 'Chris garcia'),
 ('Bangalore', 27, 'Daniel Jackson'),
 ('Bangalore', 27, 'Emma D.'),
 ('Bangalore', 26, 'Ben Harris'),
 ('Pune', 27, 'Laura Lewis'),
 ('New Delhi', 27, 'Kate J.'),
 ('Bangalore', 27, 'Max Garcia'),
 ('New Delhi', 25, 'Mike M.'),
 ('Bangalore', 27, 'Ben Harris'),
 ('Pune', 25, 'Liz Lewis'),
 ('New Delhi', 27, 'Luke L.'),
 ('Pune', 26, 'Sophia taylor'),
 ('Pune', 26, 'Wil. Moore'),
 ('Bangalore', 26, 'L. moore'),
 ('Bangalore', 26, 'Rob H.'),
 ('Bangalore', 25, 'Le. Miller'),
 ('Pune', 28, 'Emily M.'),
 ('New Delhi', 25, 'Ch. Lee'),
 ('Bangalore', 25, 'Ja. Lee'),
 ('Pune', 27, 'Max Clark'),
 ('Pune', 26, 'Da. W.'),
 ('Pune', 25, 'Max L.'),
 ('Bangalore', 28, 'Ben. Anderson'),
 ('Bangalore', 26, 'John White'),
 ('Bangalore', 27, 'Laura G.'),
 ('New Delhi', 26, 'Sam Taylor'),
 ('Bangalore', 27, 'Mik. Moore'),
 ('Bangalore', 27, 'Chloe Lee'),
 ('Bangalore', 26, 'Emma white'),
 ('Bangalore', 26, 'Ma. T.'),
 ('Bangalore', 25, 'Max Thomas'),
 ('Bangalore', 25, 'Daniel White'),
 ('Bangalore', 25, 'Liz doe'),
 ('Bangalore', 25, 'Mike L.'),
 ('Bangalore', 25, 'Sophia Taylor'),
 ('Bangalore', 28, 'Luke jackson'),
 ('New Delhi', 26, 'John H.'),
 ('Bangalore', 25, 'Mi. B.'),
 ('Bangalore', 26, 'John taylor'),
 ('Bangalore', 26, 'Kate J.'),
 ('New Delhi', 27, 'Ch. brown'),
 ('Pune', 27, 'Ella Miller'),
 ('New Delhi', 28, 'Chris Davis'),
 ('New Delhi', 25, 'Ben garcia'),
 ('Bangalore', 26, 'Ell. L.'),
 ('Pune', 27, 'Laura Miller'),
 ('New Delhi', 27, 'Chris M.'),
 ('New Delhi', 26, 'Jan. A.'),
 ('New Delhi', 27, 'Mia Brown'),
 ('New Delhi', 26, 'Emily Doe'),
 ('Bangalore', 28, 'Chloe M.'),
 ('New Delhi', 27, 'Ma. Doe'),
 ('New Delhi', 25, 'Emily White'),
 ('Bangalore', 28, 'Ma. C.'),
 ('Bangalore', 26, 'Chris D.'),
 ('Pune', 26, 'Daniel lee'),
 ('Bangalore', 26, 'Liz Wilson'),
 ('Bangalore', 28, 'Laura davis'),
 ('Bangalore', 28, 'Emily garcia'),
 ('Bangalore', 27, 'John harris'),
 ('Bangalore', 26, 'John A.'),
 ('New Delhi', 27, 'Kate Brown'),
 ('New Delhi', 27, 'Chloe T.'),
 ('Pune', 28, 'Chloe T.'),
 ('Pune', 26, 'D. Anderson'),
 ('Bangalore', 26, 'Rob. Smith'),
 ('New Delhi', 25, 'Emma W.'),
 ('Pune', 27, 'Olivia Lewis'),
 ('Pune', 26, 'Daniel martin'),
 ('Pune', 28, 'David Lee'),
 ('New Delhi', 27, 'Mia M.'),
 ('New Delhi', 27, 'Emily Miller'),
 ('Pune', 27, 'Alex Jackson'),
 ('Bangalore', 27, 'Luke T.'),
 ('Bangalore', 25, 'Ella Lewis'),
 ('Bangalore', 25, 'Liz Clark'),
 ('Pune', 25, 'Laura Williams'),
 ('Pune', 25, 'Leo Davis'),
 ('New Delhi', 26, 'Ale. doe'),
 ('Bangalore', 28, 'Emily B.'),
 ('Bangalore', 27, 'Liz J.'),
 ('Bangalore', 25, 'Olivia A.'),
 ('Bangalore', 28, 'Laura Johnson'),
 ('Bangalore', 26, 'M. brown'),
 ('Bangalore', 27, 'Ch. davis'),
 ('Bangalore', 25, 'Sophia White'),
 ('Pune', 28, 'Daniel white'),
 ('New Delhi', 26, 'Chloe M.'),
 ('Pune', 28, 'E. W.'),
 ('Pune', 28, 'Ben. brown'),
 ('New Delhi', 28, 'Luke Lee'),
 ('Bangalore', 27, 'David Lee'),
 ('Pune', 27, 'David W.'),
 ('New Delhi', 25, 'Emma M.'),
 ('New Delhi', 26, 'Liz Lewis'),
 ('Pune', 26, 'Mik. T.'),
 ('Bangalore', 28, 'S. Harris'),
 ('Pune', 26, 'Wi. Miller'),
 ('Pune', 25, 'Laura Wilson'),
 ('Pune', 25, 'Kate W.'),
 ('Bangalore', 25, 'Kate M.'),
 ('Bangalore', 28, 'Chloe Williams'),
 ('Pune', 27, 'Laura Wilson'),
 ('New Delhi', 28, 'E. williams'),
 ('New Delhi', 25, 'Mia Anderson'),
 ('Pune', 25, 'Jan. Brown'),
 ('Pune', 27, 'Sophia Doe'),
 ('Bangalore', 26, 'Ben white'),
 ('Pune', 27, 'Emily D.'),
 ('Bangalore', 27, 'El. Garcia'),
 ('Bangalore', 26, 'Jane G.'),
 ('New Delhi', 28, 'Daniel Lewis'),
 ('Bangalore', 26, 'Emily T.'),
 ('Bangalore', 25, 'L. Anderson'),
 ('Bangalore', 26, 'Kate lee'),
 ('Bangalore', 27, 'Kate G.'),